@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
   @* <h1>@ViewBag.Title.</h1>*@
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Teléfono</h3>
    </header>
    <div style ="margin-left:19%">
        <p>
            <span class="label">Telf:</span>
            <span>965 924 842</span>
        </p>
        <p>
            <span class="label">Fax:</span>
            <span>965 924 844</span>
        </p>
    </div>
</section>

<section class="contact">
    <header>
        <h3>Correo electrónico</h3>
    </header>
    <div style ="margin-left:19%">
        <p>
            <span class="label">Escuela:</span>
            <span><a href="alicante.donbosco@salesianos.edu ">alicante.donbosco@salesianos.edu </a></span>
        </p>
        <p>
            <span class="label">Equipo técnico:</span>
            <span><a href="alicanteam@gmail.com">alicanteam@gmail.com</a></span>
        </p>
    </div>
</section>

<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <div style ="margin-left:19%">
        <p>
            Avda. Vicente Blasco Ibáñez, 1<br />
            03005 - ALICANTE
        </p>
    </div>
</section>