.jqx-widget-cole
{
  font-family: Verdana;
}
.jqx-widget-content-cole
{
  color: #000;
  border-color: #030B5E;
  background-color: #05abff;
  font-family: Verdana;
}
.jqx-widget-header-cole
{
  color: #FCFCFC;
  border-color: #010F3A;
  background-color: #4078D1;
  background-image: -moz-linear-gradient(top, #4078D1, #093AEA);
  background-image: -ms-linear-gradient(top, #4078D1, #093AEA);
  background-image: -o-linear-gradient(top, #4078D1, #093AEA);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4078D1), to(#093AEA));
  background-image: -webkit-linear-gradient(top, #4078D1, #093AEA);
  background-image: linear-gradient(top, #4078D1, #093AEA);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-cell-cole
{
  background-color: #4D7DDD;
}
.jqx-fill-state-normal-cole
{
  color: #F7F7F7;
  border-color: #A84300;
  background-color: #F27A09;
  background-image: -moz-linear-gradient(top, #F27A09, #B74000);
  background-image: -ms-linear-gradient(top, #F27A09, #B74000);
  background-image: -o-linear-gradient(top, #F27A09, #B74000);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F27A09), to(#B74000));
  background-image: -webkit-linear-gradient(top, #F27A09, #B74000);
  background-image: linear-gradient(top, #F27A09, #B74000);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-grid-selectionarea-cole
{
  border-color: #A84300;
  background-color: #F27A09;
}
.jqx-grid-cell-sort-cole, .jqx-grid-cell-filter-cole, .jqx-grid-cell-pinned-cole
{
  background-color: #993500;
  color: #000000;
}
.jqx-grid-cell-alt-cole, .jqx-grid-cell-sort-alt-cole, .jqx-grid-cell-filter-alt-cole
{
  background-color: #F2A571;
  color: #D33800;
}
.jqx-fill-state-hover-cole
{
  color: #F9F9F9;
  border-color: #C14300;
  background-color: #F97800;
  background-image: -moz-linear-gradient(top, #F97800, #D16004);
  background-image: -ms-linear-gradient(top, #F97800, #D16004);
  background-image: -o-linear-gradient(top, #F97800, #D16004);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F97800), to(#D16004));
  background-image: -webkit-linear-gradient(top, #F97800, #D16004);
  background-image: linear-gradient(top, #F97800, #D16004);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-fill-state-pressed-cole
{
  color: #222222;
  border-color: #AAAAAA;
  background-color: #FCA46A;
  background-image: -moz-linear-gradient(top, #F2A571, #EFA44F);
  background-image: -ms-linear-gradient(top, #F2A571, #EFA44F);
  background-image: -o-linear-gradient(top, #F2A571, #EFA44F);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F2A571), to(#EFA44F));
  background-image: -webkit-linear-gradient(top, #F2A571, #EFA44F);
  background-image: linear-gradient(top, #F2A571, #EFA44F);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-cole, .jqx-tabs-selection-tracker-top-cole
{
  color: #2607F2;
  border-color: #030B5E;
  border-bottom: 1px solid #4D7DDD;
  background-image: none ;
  background-color: #4D7DDD;
}
.jqx-tabs-title-selected-bottom-cole, .jqx-tabs-selection-tracker-bottom-cole
{
  color: #2607F2;
  border-color: #030B5E;
  border-top: 1px solid #4D7DDD;
  background-image: none ;
  background-color: #4D7DDD;
}
.jqx-splitter-splitbar-hover-cole
{
  background: #F97800;
}
.jqx-splitter-splitbar-vertical-cole, .jqx-splitter-splitbar-horizontal-cole, .jqx-slider-track-horizontal-cole, .jqx-slider-track-vertical-cole
{
  background: #F27A09;
}
.jqx-splitter-collapse-button-horizontal-cole, .jqx-splitter-collapse-button-vertical-cole, .jqx-slider-rangebar-cole
{
  background: #FCA46A;
}
.jqx-scrollbar-state-normal-cole
{
  background-color: #FCB688;
  border-color: #DD4600;
}
.jqx-grid-bottomright-cole, .jqx-panel-bottomright-cole, .jqx-listbox-bottomright-cole
{
  background-color: #FCB688;
}
.jqx-scrollbar-thumb-state-normal-cole
{
  background-color: #F27A09;
  background-image: -moz-linear-gradient(left, #F27A09, #B74000);
  background-image: -ms-linear-gradient(left, #F27A09, #B74000);
  background-image: -o-linear-gradient(left, #F27A09, #B74000);
  background-image: -webkit-gradient(linear, left top, right top, from(#F27A09), to(#B74000));
  background-image: -webkit-linear-gradient(left, #F27A09, #B74000);
  background-image: linear-gradient(left, #F27A09, #B74000);
}
.jqx-scrollbar-thumb-state-hover-cole
{
  background-color: #F97800;
  background-image: -moz-linear-gradient(left, #F97800, #D16004);
  background-image: -ms-linear-gradient(left, #F97800, #D16004);
  background-image: -o-linear-gradient(left, #F97800, #D16004);
  background-image: -webkit-gradient(linear, left top, right top, from(#F97800), to(#D16004));
  background-image: -webkit-linear-gradient(left, #F97800, #D16004);
  background-image: linear-gradient(left, #F97800, #D16004);
}
.jqx-scrollbar-thumb-state-pressed-cole.jqx-progressbar-value-vertical-cole
{
  background-color: #FCA46A;
  background-image: -moz-linear-gradient(left, #F2A571, #EFA44F);
  background-image: -ms-linear-gradient(left, #F2A571, #EFA44F);
  background-image: -o-linear-gradient(left, #F2A571, #EFA44F);
  background-image: -webkit-gradient(linear, left top, right top, from(#F2A571), to(#EFA44F));
  background-image: -webkit-linear-gradient(left, #F2A571, #EFA44F);
  background-image: linear-gradient(left, #F2A571, #EFA44F);
}
.jqx-radiobutton-check-checked-cole
{
  background: #F93A00;
}
.jqx-grid-column-sortascbutton-cole, .jqx-expander-arrow-bottom-cole, .jqx-window-collapse-button-cole, .jqx-menu-item-arrow-up-cole, .jqx-menu-item-arrow-top-up-cole, .icon-arrow-up-cole
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-cole, .icon-arrow-up-selected-cole
{
  background-image: url('images/icon-up.png');
}
.icon-arrow-up-hover-cole
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-cole, .jqx-grid-column-sortdescbutton-cole, .jqx-expander-arrow-top-cole, .jqx-window-collapse-button-collapsed-cole, .jqx-menu-item-arrow-down-cole, .jqx-menu-item-arrow-down-cole, .icon-arrow-down-cole
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-cole, .icon-arrow-down-selected-cole
{
  background-image: url('images/icon-down.png');
}
.icon-arrow-down-hover-cole
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-cole, .jqx-menu-item-arrow-top-left-cole, .icon-arrow-left-cole, .icon-arrow-down-left-cole
{
  background-image: url('images/icon-left.png');
}
.icon-arrow-left-hover-cole
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-cole
{
  background: #EFEFEF;
}
.jqx-menu-item-arrow-left-selected-cole, .icon-arrow-left-selected-cole
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-cole, .jqx-menu-item-arrow-top-right-cole, .icon-arrow-right-cole
{
  background-image: url('images/icon-right.png');
}
.icon-arrow-right-hover-cole
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-cole, .icon-arrow-right-selected-cole
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button-cole, .jqx-tabs-close-button-cole, .icon-close-cole
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-cole
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-cole
{
  background-image: url('images/close_white.png');
}
.jqx-widget-cole .jqx-grid-column-header-cole, .jqx-widget-cole .jqx-grid-cell-cole, .jqx-widget-cole .jqx-grid-group-cell-cole, .jqx-grid-cell-cole
{
  border-color: #01012B;
}
.jqx-window-modal-cole
{
  background: #000000;
}
.jqx-window-modal-cole
{
  border-color: #FFFFFF;
}
.jqx-checkbox-check-checked-cole
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-cole
{
  background-image: url('images/check_indeterminate_black.png');
}