<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\raito\Documents\UNI\TAES\svn\ClasesAlicanTeam\BDAlicanTeam.mdf;Integrated Security=True"/>  
  </connectionStrings>
</configuration>