<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlConnectionString" connectionString="Server=tcp:u84kdh0rz7.database.windows.net,1433;Database=desarrolloDB;User ID=taesadmin@u84kdh0rz7;Password=Alicanteam1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>  
  </connectionStrings>
</configuration>